// Variables de color y tamaño
$background-color: #f9f9f9;
$border-color: #ddd;
$text-color: #333;
$title-color: #3498db;
$padding: 1rem;
$border-radius: 8px;
$shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$gap: 1.5rem;

// Estilos para el contenedor general de tarjetas
.film-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: $gap;
  justify-content: center;
}

// Estilos para cada tarjeta
.film-card {
  background-color: $background-color;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: $shadow;
  padding: $padding;
  width: 300px; // Ajusta el ancho de cada tarjeta
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover {
    background-color: #ccc; // Cambia el color de fondo al pasar el mouse
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); // Agrega un efecto de sombra al pasar el mouse
    transform: scale(1.1); // Aumenta el tamaño de la tarjeta al pasar el mouse
    transition: all 0.3s ease-in-out; // Agrega una transición suave al efecto de hover
  }

  .list-title {
    color: $title-color;
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }

  .list-description,
  .release-date {
    color: $text-color;
    font-size: 1rem;
    margin: 0.25rem 0;
  }

  .pic {
    margin-top: 1rem;
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      border-radius: $border-radius;
    }
  }



  $primary-color: #e92f48;
  $primary-color-dark: darken($primary-color, 10%);
  $primary-color-light: lighten($primary-color, 10%);
  $text-color: #ccbcbc;
  $border-radius: 5px;
  $padding: 0.75rem 1.5rem;

@mixin button-style($bg-color, $text-color, $hover-bg-color) {
  background-color: $bg-color;
  color: $text-color;
  padding: $padding;
  margin: 10px;
  border-radius: $border-radius;
  border: none;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $hover-bg-color;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba($bg-color, 0.5);
  }

  &:active {
    transform: scale(0.98);
  }
}
.button {
  @include button-style($primary-color, $text-color, $primary-color-dark);
}






}
/*
div{
  width: 30%;
  border: 2px solid purple;
}

.pic{
width: 60%;
}

img{
  width:100%;
  height: 100%;

}
 */
