<router-outlet></router-outlet>
<div class="message contenedor">
  <div>

    <h1 *ngIf="currentRoute === ''" class="titulo-centrado">
      Bienvenida a nuestra aplicación.
    </h1>
    <h1 *ngIf="currentRoute === '/films'" class='titulo-centrado'>Estás en la página de Films</h1>
    <h1 *ngIf="currentRoute === '/characters'" class="titulo-centrado">Estás en la página de Characters</h1>
  </div>
  <div>
    <nav>
      <a class="button" routerLinkActive="activebutton" routerLink="/films">Films</a>
      <a class="button" routerLinkActive="activebutton" routerLink="/characters">Characters</a>
    </nav>
  </div>

</div>

