
  $primary-color: #e92f48;
  $primary-color-dark: darken($primary-color, 10%);
  $primary-color-light: lighten($primary-color, 10%);
  $text-color: #ccbcbc;
  $border-radius: 5px;
  $padding: 0.75rem 1.5rem;

@mixin button-style($bg-color, $text-color, $hover-bg-color) {
  background-color: $bg-color;
  color: $text-color;
  padding: $padding;
  border-radius: $border-radius;
  border: none;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $hover-bg-color;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba($bg-color, 0.5);
  }

  &:active {
    transform: scale(0.98);
  }
}
.button {
  @include button-style($primary-color, $text-color, $primary-color-dark);
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  margin-bottom: 1%;

  a{
    text-decoration: none;
  }
}
